{% import _self as macros %}

{% macro socialMediaLink(title, iconClass, url) %}
  <a href="{{ url }}" class="dib no-underline-hover white hover-gold f3 ml5 v-mid">
    <i class="fab {{ iconClass }}" aria-hidden="true"></i>
    <span class="clip">{{ title }}</span>
  </a>
{% endmacro socialMediaLink %}

{% macro footerLink(title, url) -%}
  <a class="link white underline-hover fw4" href="{{ url }}">
    {{- title -}}
  </a>
{%- endmacro footerLink %}

{% set gdpr = page.find('/gdpr') %}

<footer class="flex-ns flex-wrap white f6">

  <section class="bg-dark-blue w-100 w-40-ns pa3 pa5-ns flex flex-column justify-end">
    <img class="mw4 mb5 ba b--white dib" src="{{ url('theme://images/logo-oxford.png') }}" alt="Oxford University logo" />
    <div class="mw5">
      The British Physics Olympiad is hosted by the {{ macros.footerLink('University of Oxford', 'https://www.ox.ac.uk') -}}.
    </div>
  </section>

  <section class="bg-navy w-100 w-60-ns tr-ns pa3 pa5-ns">
    <h4 class="fw2 mt0">
      {% include 'svgs/bpho-logo.svg.twig' with { classes: 'pr3 h2' } %}
      British Physics Olympiad
    </h4>
    <address class="fs-normal">
      <div>
        British Physics Olympiad Administrator<br>
        Clarendon Lab, University of Oxford,<br>
        Parks Road, Oxford, OX1 3PU
      </div>
      <div class="mt4">
        tel: {{ macros.footerLink('01865 272884', 'tel:+441865272884') }}
        <br>
        email: {{ macros.footerLink('BPhO@physics.ox.ac.uk', 'mailto:BPhO@physics.ox.ac.uk') }}
      </div>
    </address>
    <div class="mt4">
      © 2017 British Physics Olympiad<br>
      {{ macros.footerLink(gdpr.title, gdpr.url) }}
    </div>
    <div class="mt4">
      Connect
      {{ macros.socialMediaLink('Facebook', 'fa-facebook', 'https://www.facebook.com/The.BPhO/') }}
      {{ macros.socialMediaLink('Twitter', 'fa-twitter', 'https://twitter.com/thebpho') }}
    </div>
  </section>
</footer>
