{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% from 'macros/menu-button.html.twig' import menuButton  %}
{% from 'macros/home-button.html.twig' import homeButton  %}
{% from 'macros/close-button.html.twig' import closeButton  %}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">

  <head>
    {% block head %}
      <meta charset="utf-8" />
      <title>
        {% if header.title %}{{ header.title|e('html') }} | {% endif %}
        {{ site.title|e('html') }}
      </title>

      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% include 'partials/metadata.html.twig' %}

      <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
      <link rel="canonical" href="{{ page.url(true, true) }}" />

      {% block javascripts %}
      {% do assets.addJs('jquery', 100) %}
      {% do assets.addJs('plugins', 80) %}
      {% do assets.addJs('theme://js-compiled/bundle.js', 70) %}
      {% endblock %}
      {{ assets.js() }}

      {% block stylesheets %}
        {% do assets.addCss('fonts') %}
        {% do assets.addCss('theme://css-compiled/index.css', 100) %}
        {% do assets.addInlineCss('.js .js-dn { display: none; }') %}
      {% endblock %}
      {{ assets.css() }}

    {% endblock head %}
  </head>

  <body id="top" class="{{ page.header.body_classes }} nunito fw4 lh-copy">

    {% block header %}
      <header
        id="header"
        class="js-header z-2 bg-white relative pa3 flex justify-between bb b--light-gray shadow-2"
      >
        {% include 'partials/navigation.html.twig' %}

        {% include 'partials/logo.html.twig' %}
      </header>
    {% endblock header %}

    {% block main %}
    {% endblock main %}

    {% include 'partials/sponsors.html.twig' %}
    {% include 'partials/footer.html.twig' %}

    {% block bottom %}
      {{ assets.js('bottom') }}
    {% endblock bottom %}

  </body>
</html>
