{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% from 'macros/menu-button.html.twig' import menuButton  %}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">

  <head>
    {% block head %}
      <meta charset="utf-8" />
      <title>
        {% if header.title %}{{ header.title|e('html') }} | {% endif %}
        {{ site.title|e('html') }}
      </title>

      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% include 'partials/metadata.html.twig' %}

      <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
      <link rel="canonical" href="{{ page.url(true, true) }}" />

      {% block javascripts %}
      {% do assets.addJs('jquery', 100) %}
      {% do assets.addJs('plugins', 80) %}
      {% do assets.addJs('theme://js-compiled/bundle.js', 70) %}
      {% endblock %}
      {{ assets.js() }}

      {% block stylesheets %}
        {% do assets.addCss('fonts') %}
        {% do assets.addCss('theme://css-compiled/index.css', 100) %}
        {% do assets.addInlineCss('.js .js-dn { display: none; }') %}
      {% endblock %}
      {{ assets.css() }}

    {% endblock head %}
  </head>

  <body id="top" class="{{ page.header.body_classes }} nunito fw2 lh-copy">

    {% block header %}
      <header class="js-header z-1 bg-white relative ph4 pv4 flex justify-between">
        {{ menuButton({ jsClass: 'js-open-menu' }) }}

        {% include 'partials/navigation.html.twig' %}

        <div class="fw4 flex items-center">
          {% include 'svgs/bpho-logo.svg.twig' with { classes: 'h2 pr3', color: '#333' } %}
          BPhO
        </div>

      </header>
    {% endblock header %}

    {% block main %}
    {% endblock main %}

    {% include 'partials/footer.html.twig' %}

    {% block bottom %}
      {{ assets.js('bottom') }}
    {% endblock bottom %}

  </body>
</html>
