{% from 'partials/macros.html.twig' import menuButton  %}

{% macro topLevelLink(url, title) %}
  <a
    class="white"
    href="{{ url }}"
  >
    {{ title }}
  </a>
{% endmacro topLevelLink %}

{% macro loop(page) %}
  {% for p in page.children.visible %}
    <li>
      {{ _self.topLevelLink(p.url, p.menu) }}
    </li>
  {% endfor %}
{% endmacro %}

<nav class="js-nav js-dn bg-navy white ph4 pv4 w-100">
  {{ menuButton({ jsClass: 'js-close-menu', textColor: 'white' }) }}
  <ul class="list pl0">
    {{ _self.loop(pages) }}
  </ul>
</nav>
