{% from 'macros/home-button.html.twig' import homeButton  %}
{% from 'macros/close-button.html.twig' import closeButton  %}
{% from 'macros/menu-button.html.twig' import menuButton  %}

{% set buttonOptions = {
  jsClass: 'js-close-menu',
  classes: '',
  textColor: 'white',
  text: 'Close'
} %}

{% macro topLevelLink(url, title) %}
  <a
    class="fw2 f6 underline-hover no-underline dark-gray hover-blue"
    href="{{ url }}"
  >
    {{ title }}
  </a>
{% endmacro topLevelLink %}

{% macro loop(page) %}
  {% for p in page.children.visible %}
    <li class="mr3">
      {{ _self.topLevelLink(p.url, p.menu) }}
    </li>
  {% endfor %}
{% endmacro %}

<nav class="border-box flex">
  <div class="flex justify-start items-center">
    {{ homeButton() }}
    <div class="js-nav-buttons">
      {{ menuButton() }}
      {{ closeButton() }}
    </div>
  </div>
  <div class="js-nav-wrapper flex justify-start items-center w-100 background-white">
    <ul class="js-nav list pl0 ma0 flex flex-row justify-start items-center">
      {{ _self.loop(pages) }}
    </ul>
  </div>
</nav>
