{% from 'macros/home-button.html.twig' import homeButton  %}
{% from 'macros/close-button.html.twig' import closeButton  %}
{% from 'macros/menu-button.html.twig' import menuButton  %}

{% set buttonOptions = {
  jsClass: 'js-close-menu',
  classes: '',
  textColor: 'white',
  text: 'Close'
} %}

{% macro loop(page) %}
  {% for p in page.children.visible %}

    {# We're going to add an emphasis for enter online #}
    {% if p.slug is same as('enter-online') %}
      {% set fw = 'fw4' %}
    {% endif %}

    <li class="mr3">
      <a
        class="{{ fw|default('fw2') }} f6 underline-hover no-underline dark-gray hover-blue"
        href="{{ p.url }}"
      >
        {{ p.menu }}
      </a>
    </li>
  {% endfor %}
{% endmacro %}

<nav class="border-box flex">
  <div class="flex justify-start items-center">
    {{ homeButton() }}
    <div class="js-nav-buttons">
      {{ menuButton() }}
      {{ closeButton() }}
    </div>
  </div>
  <div class="js-nav-wrapper flex justify-start items-center w-100 background-white">
    <ul class="js-nav list pl0 ma0 flex flex-row justify-start items-center">
      {{ _self.loop(pages) }}
    </ul>
  </div>
</nav>
