{% from 'macros/menu-button.html.twig' import menuButton  %}

{% set buttonOptions = {
  jsClass: 'js-close-menu',
  classes: '',
  textColor: 'white',
  text: 'Close'
} %}

{% macro topLevelLink(url, title) %}
  <a
    class="white"
    href="{{ url }}"
  >
    {{ title }}
  </a>
{% endmacro topLevelLink %}

{% macro loop(page) %}
  {% for p in page.children.visible %}
    <li class="mr3">
      {{ _self.topLevelLink(p.url, p.menu) }}
    </li>
  {% endfor %}
{% endmacro %}

<nav class="js-nav js-dn bg-navy white ph4 pv4 w-100 flex justify-center">
  <div class="absolute left-2 top-50 translate-y-center">
    {{ menuButton(buttonOptions) }}
  </div>
  <ul class="list pl0 ma0 flex flex-column flex-row-ns">
    {{ _self.loop(pages) }}
  </ul>
</nav>
