{% extends 'default.html.twig' %}

{% set headerLabels = {
  examDate: 'Exam date',
  availableFromDate: 'Available from',
  entryDeadlineDate: 'Submission deadline',
  length: 'Length',
  location: 'Sat',
  marked: 'Marked',
  cost: 'Cost',
  prizes: 'Prizes',
} %}

{% set c = header.competition %}

{% block title %}
  {{ dump(header) }}
  {% set date = (c.useDateBlurb) ? c.date|date('F j, Y') : c.dateBlurb|markdown %}

  {{ parent() }}
  <ul class="list pl0 ma0">
    {% for key, value in c %}
      <li>
        <span class="b">
          {{ headerLabels[key] }}:
        </span>
        {% if 'Date' in key %}
          {{ value|date('F j, Y') }}
        {% else %}
          {{ value }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock title %}
