
{% macro renderYear(year) %}
  {% import "modular/macros.html.twig" as macros %}
  <section class="flex-ns flex-row justify-start">
    <h3 class="w4-ns mt0 f5">
      {{ year.year }}
    </h3>
    <ul class="pl0 list f5 mt0 flex-auto-ns">
      {% for paper in year.papers %}
        <li>
          {{ macros.renderDocument(paper) }}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endmacro renderYear %}

<div>
  {% if page.header.showTitle %}
    <h2>
      {{ page.header.title }}
    </h2>
  {% endif %}

  {% if page.header.showContent %}
    {{ content }}
  {% endif %}

  {% for year in page.header.papersByYear %}
    {{ _self.renderYear(year) }}
  {% endfor %}
</div>
