{% macro renderYear(year) %}
  <h3>
    {{ year.year }}
    {% for paper in year.papers %}
      {{ _self.renderPaper(paper, loop.last) }}
    {% endfor %}
  </h3>
{% endmacro renderYear %}

{% macro renderPaper(paper, isLast) %}
  <a href="/{{ paper.file|first.path }}">
    {% if paper.customTitle %}
      {{ paper.customTitle }}
    {% else %}
      {{ paper.title }}
    {% endif %}
  </a>
  {% if isLast == false %}
    <span>
      &ndash;
    </span>
  {% endif %}
{% endmacro renderPaper %}

<section>
  {{ dump(page) }}
  {% if header.showTitle %}
    <h2>
      {{ header.title }}
    </h2>
  {% endif %}

  {% if header.showContent %}
    {{ content }}
  {% endif %}

  {% for year in header.papersByYear %}
    {{ _self.renderYear(year) }}
  {% endfor %}
</section>
